body {
    margin-top: 250px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #a6aaae;

}

.header {
    text-align: center;
    color: rgb(23, 9, 119);
}

.text1 {
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
}

/* a {
    text-decoration: none;
    color: black;
} */

.text2 {
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
}

.text3 {
    background-color: #34495e;
    border-radius: 20px;
    padding: 21px;
}