* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

form #new_item_input, form #new_date_input  {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form #new_item_input:focus {
    box-shadow: 2px 2px 7px black;
}

form #new_item_input:focus-visible {
    outline: none;
}

form #new_item_input:hover {
    box-shadow: 2px 2px 7px black;
}

form #add_item_button {
    padding: 5px 10px;
    background-color: rgb(38, 38, 38);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form #add_item_button:hover {
    box-shadow: 2px 2px 7px black;
}

#todo_list {
    list-style: none;
    padding: 10px;
}

#todo_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#todo_list li::after {
    content: attr(data-date);
    font-size: 8px;
    position: absolute;
    right: 0;
    top: -10px;
}

/* Добавить стили во время наведения курсором на li (hover) 
Тень
сдвиг по оси х - 0
сдвиг по оси у - 4px
длина тени - 8px
цвет тени rgba(0, 0, 0, 0.2);
сдвиг элемента по вертикали вверх на 5px
с помощью стиля transform и функции translateY
*/

/* Добавить плавности к анимации с длительностю на 0,3 секунды и для смени всех стилей. ease
transition
*/

#todo_list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}


#todo_list li:not(:last-child) {
    margin-bottom: 15px;
}

#todo_list li button {
    background-color: rgb(69, 69, 69);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 5px;
}

#todo_list li label {
    width: 100%;
    cursor: pointer;
}

#todo_list li input {
    margin-right: 15px;
}

/* input[type=text] { // tag[attributeName=value]
    border: 1px solid green;
}

input[type=password] {
    border: 1px solid red;
} */

/* button:focus-visible {
    outline: none;
    color: green;
} */